NEXT_PUBLIC_SITE_URL=https://favoursunday.dev
GOOGLE_SITE_VERIFICATION=token
NEXT_PUBLIC_SUPABASE_URL=https://wzuqjyohrnosquslelxv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_rWbwA19UjGH65W935CEx0A_zW51DKNb
BLOG_ADMIN_EMAIL=sundayfavour997@gmail.com
